/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: purple;
}
a {
 
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
 
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero{
  height: 100vh;
  width: 100%;
  background-image: url("Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
#hero div{
  padding-top: 8%;
}

@keyframes animate{
  0%{
    background-image: url("background.jpg");
  }
  20%{
    background-image: url("background1.jpg");
  }
  40%{
   background-image: url("background2.jpg"); 
  }
  60%{
    background-image: url("background3.jpg");
  }
  80%{
    background-image: url("background4.jpg");
  }
  100%{
    background-image: url("background5.jpg");
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about h3{
  color: skyblue; 
  font-size: 200%;
}

#about p{
  color: black;
  font-size: 150%;
}
/*--------------------------------------------------------------
# education
--------------------------------------------------------------*/
#img3{
  
}

#education i{
  font-size: 20px;
  color:  #ff0080;
}

#education h2{
  color: #D2691E;
}

#education h4{
  text-decoration: overline;
  color: white;
}

#education h3{
  color: yellow;
}

#education h5{
  color: green;
}

#education p{
  color: red;
}
/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hoobies
--------------------------------------------------------------*/
#hoobies{
  
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #809fff;
}

#contact{

}
#contact ul{
  display: inline-flex;
}

#contact ul li{
  margin-right: 20%;
  font-size: 200%;
  list-style-type: none;
}
#contact button{
  width: 100%;
  height: 150%;
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
